.pix {
    display: block;
    margin: auto;
    width: 395px;
    margin-top: 15px;
}

.header {
    margin-left: 35px;
    font-size: 36px;
    margin-bottom:10px;
}

.text {
    margin-left: 35px;
    margin-top: 10px;
}