.pix {
    width: 395px;
    height: 230px;
    margin-top: 15px;
    margin-left: 17%;
}

.header {
    margin-left: 35px;
    font-size: 36px;
    margin-bottom:10px;
}

.text {
    margin-left: 35px;
    margin-top: 10px;
}