.preview{
    width: 176px;
    height: 235px;
    margin-right: 10px;
    background-size: contain;
}

.photoCont {
    position: relative;
}

.stat {
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
