.status {
    height: 20px;
    width: 61px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-info {
    width: 50px;
    font-size: 10px;
}